<div class="d-flex flex-column flex-lg-row align-items-center mb-4">
  <div class="mb-3 mb-lg-0 mr-lg-4">
    <img src="/assets/images/warn-icon.png" alt="warn-icon">
  </div>
  <p class="mb-0">
    {{'TEMPLATE.AUTH.SELECT_REPRESENTATIVE_TYPE.PROFILE_NOT_LINKED_P_1' | translate}}
  </p>
</div>

<p>
  {{'TEMPLATE.AUTH.SELECT_REPRESENTATIVE_TYPE.PROFILE_NOT_LINKED_P_2' | translate}}
  <a href="https://www.justice.gov/eoir/recognized-organizations-and-accredited-representatives-roster-state-and-city">
    https://www.justice.gov/eoir/recognized-organizations-and-accredited-representatives-roster-state-and-city
  </a>
</p>
<p>{{'TEMPLATE.AUTH.SELECT_REPRESENTATIVE_TYPE.PROFILE_NOT_LINKED_P_3' | translate}}</p>