<div class="container-fluid p-0">
  <div class="mx-4 my-3 d-flex">
    <div class="mr-3 text-center my-3">
      <img src="/assets/images/warn-icon.png"/>
    </div>
    <div class="mr-2">
      <div class="mb-2">
        {{'TEMPLATE.TASK_QUEUE.BENEFICIARY_MEMBER_OF_OPEN_PACKAGE_MODAL.P_1' | translate}}
      </div>
      <div class="mb-2">
        {{'TEMPLATE.TASK_QUEUE.BENEFICIARY_MEMBER_OF_OPEN_PACKAGE_MODAL.P_2' | translate}}
      </div>
      <div class="mb-2">
        {{'TEMPLATE.TASK_QUEUE.BENEFICIARY_MEMBER_OF_OPEN_PACKAGE_MODAL.P_3' | translate}}
      </div>
    </div>
  </div>
</div>

