<app-horizontal-form-field
  [control]="firstFormControl"
  [required]="true"
  [submitted]="submitted"
  [col3Label]="col3Label"
  [col4Label]="col4Label"
  [label]="firstFormControlLabel"
></app-horizontal-form-field>
<app-horizontal-form-field
  [control]="middleFormControl"
  [col3Label]="col3Label"
  [col4Label]="col4Label"
  [label]="middleFormControlLabel"
></app-horizontal-form-field>
<app-horizontal-form-field
  [control]="lastFormControl"
  [required]="true"
  [submitted]="submitted"
  [col3Label]="col3Label"
  [col4Label]="col4Label"
  [label]="lastFormControlLabel"
></app-horizontal-form-field>
