<div class="row terms-conditions">
  <div class="col-md-12">
    <ol class="terms-conditions-ol">
      <li>
        <strong>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.TITLE' | translate}}</strong>
        <ul class="alpha">
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P1' | translate}}</li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P2' | translate}}</li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P3' | translate}}</li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P4' | translate}}
            <ul class="roman">
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P4_1' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P4_2' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P4_3' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P4_4' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P4_5' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P4_6' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P4_7' | translate}}</li>
            </ul>
          </li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P5' | translate}}
            <ul class="roman">
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P5_1' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P5_2' | translate}}</li>
            </ul>
          </li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P6' | translate}}</li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P7' | translate}}</li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P8' | translate}}</li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P9' | translate}}</li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P10' | translate}}</li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P11' | translate}}</li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P12' | translate}}</li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P13' | translate}}
            <ul class="roman">
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P13_1' | translate}}
                <ol>
                  <li [innerHTML]="'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P13_1_1' | translate" ></li>
                  <li [innerHTML]="'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P13_1_2' | translate" ></li>
                  <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P13_1_3' | translate}}
                    <ul class="alpha">
                      <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P13_1_3_1' | translate}}</li>
                      <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P13_1_3_2' | translate}}</li>
                    </ul>
                  </li>
                </ol>
              </li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P13_2' | translate}}
                <ol>
                  <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P13_2_1' | translate}}</li>
                  <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P13_2_2' | translate}}</li>
                  <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P13_2_3' | translate}}</li>
                  <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P13_2_4' | translate}}</li>
                </ol>
              </li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P13_3' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P13_4' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P13_5' | translate}}</li>
            </ul>
          </li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P14' | translate}}</li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P15' | translate}}
            <ul class="roman">
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P15_1' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P15_2' | translate}}</li>
            </ul>
          </li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P16' | translate}}
            <ul class="roman">
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P16_1' | translate}}</li>
            </ul>
          </li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P17' | translate}}
            <ul class="roman">
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P17_1' | translate}}</li>
            </ul>
          </li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P18' | translate}}
            <ul class="roman">
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P18_1' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P18_2' | translate}}</li>
            </ul>
          </li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P19' | translate}}</li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P20' | translate}}
            <ul class="roman">
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P20_1' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P20_2' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P20_3' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P20_4' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P20_5' | translate}}</li>
            </ul>
          </li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P21' | translate}}
            <ul class="roman">
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P21_1' | translate}}</li>
            </ul>
          </li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE.P22' | translate}}</li>
        </ul>
      </li>
      <li>
        <strong>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.TITLE' | translate}}</strong>
        <ul class="alpha">
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P1' | translate}}
            <ul class="roman">
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P1_1' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P1_2' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P1_3' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P1_4' | translate}}</li>
            </ul>
          </li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P2' | translate}}
            <ul class="roman">
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P2_1' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P2_2' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P2_3' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P2_4' | translate}}</li>
              <li [innerHTML]="'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P2_5' | translate" ></li>
            </ul>
          </li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P3' | translate}}</li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P4' | translate}}</li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P5' | translate}}
            <ul class="roman">
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P5_1' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P5_2' | translate}}</li>
            </ul>
          </li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P6' | translate}}
            <ul class="roman">
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P6_1' | translate}}</li>
            </ul>
          </li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P7' | translate}}
            <ul class="roman">
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P7_1' | translate}}</li>
            </ul>
          </li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P8' | translate}}
            <ul class="roman">
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P8_1' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P8_2' | translate}}</li>
              <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.CLIENTS.P8_3' | translate}}</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <strong>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE_AND_CLIENTS.TITLE' | translate}}</strong>
        <ul class="alpha">
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE_AND_CLIENTS.P1' | translate}}</li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE_AND_CLIENTS.P2' | translate}}</li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE_AND_CLIENTS.P3' | translate}}</li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE_AND_CLIENTS.P4' | translate}}</li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE_AND_CLIENTS.P5' | translate}}</li>
          <li>{{'TEMPLATE.AUTH.TERMS_CONDITIONALS_MODAL.LEGAL_REPRESENTATIVE_AND_CLIENTS.P6' | translate}}</li>
        </ul>
      </li>
    </ol>
  </div>
</div>
