<app-auth-wrapper header="TEMPLATE.AUTH.RESET.TITLE">
  <form
    class="mt-4"
    #form="ngForm"
    [formGroup]="formGroup"
    (submit)="formSubmit()">
    <app-password-meter
      [password]="passwordControl.value"
      [col4Label]="true"
      [noOffset]="true"
    >
      <div class="form-group row justify-content-center my-3">
        <div class="col-sm-4 align-self-center">
          <label class="col-form-label col-form-label-sm new-password">
            {{ 'TEMPLATE.AUTH.RESET.NEW_PASSWORD' | translate }}
          </label>
        </div>
        <div class="col-sm-5 my-2">
          <input
            type="password"
            formControlName="password"
            placeholder="Enter new password"
            class="form-control form-control-sm"
            [ngClass]="{'border border-danger': passwordControl.invalid && (passwordControl.dirty || form.submitted)}"
          >
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="auth-error-wrapper">
          <div
            *ngIf="passwordControl.hasError('required') && (passwordControl.dirty || form.submitted)"
            class="col-12 text-center text-danger"
          >
            {{ 'FORM.ERROR.REQUIRED' | translate }}
          </div>
          <div
            *ngIf="passwordControl.hasError('minlength') && (passwordControl.dirty || form.submitted)"
            class="col-12 text-center text-danger"
          >
            {{ 'FORM.ERROR.MIN_LENGTH' | translate:({ length: validateMinLength }) }}
          </div>
          <div
            *ngIf="passwordControl.hasError('notStrength') && (passwordControl.dirty || form.submitted)"
            class="col-12 text-center text-danger"
          >
            {{ 'TEMPLATE.AUTH.METER.STRENGTH_ERROR' | translate:({strength: validatePassScore + 1}) }}
          </div>
        </div>
      </div>
    </app-password-meter>
    <div class="row justify-content-center submit-button-wrapper">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="(resetPasswordRequest$ | async)?.loading"
      >{{ 'FORM.BUTTON.SUBMIT' | translate }}
      </button>
    </div>
  </form>
</app-auth-wrapper>
