<div class="d-flex align-items-center justify-content-center full-page-min-height">
  <div class="col align-items-center justify-content-center my-5">
    <h3 class="col text-center text-uppercase text-primary">
      {{'TEMPLATE.NOT_FOUND_404.DESCRIPTION_1' | translate}}
    </h3>
    <div class="col-6 offset-3 justify-content-center align-items-center mt-5">
      <h5 class="text-center mt-2">
        {{'TEMPLATE.NOT_FOUND_404.DESCRIPTION_2' | translate}}
      </h5>
    </div>
    <div class="text-center m-md-4 align-self-center">
      <button
        class="btn btn-primary px-4 min-w-100"
        type="button"
        (click)="redirect()"
      >
        {{'TEMPLATE.NOT_FOUND_404.BTN_LABEL' | translate}}
      </button>
    </div>
  </div>
</div>
