<div class="mb-4 bg-white border border-top-0">
  <div class="m-4">
    <div class="d-flex flex-column">
      <div
        class="mt-3"
        *ngFor="let processLink of links$ | async; first as isFirst"
      >
        <h5
          class="font-weight-bold mb-2"
          [class.mt-2]="!isFirst"
        >
          {{processLink.title| translate}}
        </h5>
        <div>
          <span class="font-weight-bold pr-1">{{'TEMPLATE.DASHBOARD.PROCESS_LINKS.CLICK_HERE' | translate}}</span>
          <a
            [href]=processLink.url
            target="_blank"
            class="cursor-pointer text-primary"
          >
            {{processLink.title | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
