<footer class="">
  <div class="container">
    <div class="row footer-row">
      <div class="col-md upcoming-event-wrapper">
        <div class="region region-footer1">
          <section id="block-upcomingevents" class="block clearfix">
            <div class="field"><h3 class="footer-title">
              {{
                'TEMPLATE.FOOTER.UPCOMING_EVENTS' | translate
              }}
            </h3>
            </div>
          </section>
        </div>
      </div>
      <div class="col-md locations-wrapper">
        <div class="region region-footer2">
          <section id="block-locations" class="block  clearfix">
            <div class="field"><h3 class="footer-title">
              {{
                'TEMPLATE.FOOTER.LOCATIONS' | translate
              }}
            </h3>

              <ul>
                <li>New York, NY</li>

                <li>Shanghai, China</li>
                <li>Changzhou, China</li>
              </ul></div>
          </section>
        </div>
      </div>
      <div class="col-md hours-wrapper">
        <div class="region region-footer3">
          <section id="block-hours" class="block  clearfix">

            <div class="field"><h3 class="footer-title">
              {{ 'TEMPLATE.FOOTER.HOURS' | translate }}
            </h3>
              <ul>
                <li><span>Mon:</span>9:00 - 5:00 PST</li>
                <li><span>Tue:</span>9:00 - 5:00 PST</li>
                <li><span>Wed:</span>9:00 - 5:00 PST</li>
                <li><span>Thu:</span>9:00 - 5:00 PST</li>
                <li><span>Fri:</span>9:00 - 5:00 PST</li>
              </ul></div>
          </section>
        </div>
      </div>
      <div class="col-md contact-wrapper">
        <div class="region region-footer4">
          <section id="block-contactus" class="block  clearfix">

            <div class="field"><h3 class="footer-title">
              {{ 'TEMPLATE.FOOTER.CONTACT_US.TITLE' | translate }}
            </h3>

              <ul><li><a target="_blank" href="https://marketing.easyvisa.com/contact-us">
                {{ 'TEMPLATE.FOOTER.CONTACT_US.SEND_US_A_MESSAGE' | translate }}</a></li>
                <li>info@easyvisa.com</li>
                <li>888-888-3271</li>
              </ul></div>
          </section>
        </div>
      </div>
      <div class="col-md quick-link-wrapper">
        <div class="region region-footer5">

          <nav role="navigation" id="block-quicklinks">

            <h3 class="footer-title"  id="block-quicklinks-menu"> {{ 'TEMPLATE.FOOTER.QUICK_LINKS.TITLE' | translate }}</h3>

            <ul>
              <li>
                <a target="_blank" href="https://marketing.easyvisa.com/about-us">
                  {{ 'TEMPLATE.FOOTER.QUICK_LINKS.ABOUT_US' | translate }}</a>
              </li>
              <li>
                <a target="_blank" href="https://marketing.easyvisa.com/our-mission">
                  {{ 'TEMPLATE.FOOTER.QUICK_LINKS.OUR_MISSION' | translate }}</a>
              </li>
              <li>
                <a target="_blank" href="https://marketing.easyvisa.com/faq" >
                  {{ 'TEMPLATE.FOOTER.QUICK_LINKS.FAQ' | translate }}</a>
              </li>
              <li>
                <a target="_blank" href="https://marketing.easyvisa.com/sitemap" >
                  {{ 'TEMPLATE.FOOTER.QUICK_LINKS.SITEMAP' | translate }}</a>
              </li>
            </ul>

          </nav>

        </div>

      </div>
    </div>
  </div>
  <div class="bottom-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="region region-footer-bottom">
            <section id="block-footerbottomcontents" class="block  clearfix">

              <div class="field">
                <p> {{ 'TEMPLATE.FOOTER.BOTTOM_BAR.COPYRIGHT' | translate }} 2014-{{getCurrentYear()}}.
                  {{ 'TEMPLATE.FOOTER.BOTTOM_BAR.ALL_RIGHTS_RESERVED' | translate }}
                  <span class="break-text">|</span>
                  <a target="_blank" href="https://marketing.easyvisa.com/privacy-policy" tabindex="-1" >
                    {{ 'TEMPLATE.FOOTER.BOTTOM_BAR.PRIVACY_POLICY' | translate }}</a>
                  <span class="break-text">|</span>
                  <a target="_blank" href="https://marketing.easyvisa.com/terms-conditions" tabindex="-1" >
                    {{ 'TEMPLATE.FOOTER.BOTTOM_BAR.TERMS_CONDITIONS' | translate }}</a></p>

              </div>

            </section>

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
