<div class="container-fluid p-0 border border-secondary">
  <app-modal-header [title]="'TEMPLATE.REMINDER_APPLICANT_PERMISSION.HEADER'"></app-modal-header>
  <div class="modal-body">
    <div>
      <p>{{'TEMPLATE.REMINDER_APPLICANT_PERMISSION.P_1' | translate}}</p>
      <p>{{'TEMPLATE.REMINDER_APPLICANT_PERMISSION.P_2' | translate}}</p>
    </div>
  </div>
  <div class="text-right">
    <button class="btn btn-primary mx-4 mb-4 min-w-100" type="button" (click)="modalDismiss()">
      {{ 'FORM.BUTTON.OK' | translate }}
    </button>
  </div>
</div>
