<div class="document-panel">
  <ngb-accordion #receivedDocumentsPanel="ngbAccordion">
    <ngb-panel>
      <ng-template ngbPanelHeader let-opened="opened">
        <div class="document-panel-header">
          <div class="d-flex align-items-center justify-content-between">
            <button ngbPanelToggle class="btn">
              <i class="fa toggle-icon" *ngIf="!opened">&#9656;</i>
              <i class="fa toggle-icon" *ngIf="opened">&#9662;</i>
              {{'TEMPLATE.RECEIVED_DOCUMENTS.HEADER' | translate: ({
              beneficiaryName: (beneficiaryName$ | async) | translate
              })}}
            </button>
          </div>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="document-panel-content">
          <ul>
            <li *ngFor="let applicantReceivedDocument of applicantReceivedDocumentList$ | async">
              <div class="applicant-details">

                <div class="row m-0">
                  <div class="col-md-2 text-left">
                    <button  class="btn btn-link p-0" (click)="openAllPanels()" *ngIf="!(isOpenedAllPanels$ | async)">
                      {{'TEMPLATE.RECEIVED_DOCUMENTS.OPEN_ALL_PANELS' | translate}}
                    </button>
                    <button  class="btn btn-link p-0" (click)="closeAllPanels()" *ngIf="(isOpenedAllPanels$ | async)">
                      {{'TEMPLATE.RECEIVED_DOCUMENTS.CLOSE_ALL_PANELS' | translate}}
                    </button>
                  </div>
                  <div class="col-md-4 font-weight-bold">
                    {{applicantReceivedDocument.applicantName}}
                  </div>
                  <div class="col-md-2 text-info text-left pr-0 pl-5 ml-2">
                    <button  class="btn btn-link p-0" (click)="downloadAllAttachments(applicantReceivedDocument)">
                      {{'TEMPLATE.RECEIVED_DOCUMENTS.DOWNLOAD_ALL' | translate}}
                    </button>
                  </div>
                </div>
              </div>
              <app-received-document [readOnlyAccess]="readOnlyAccess"
                [applicantReceivedDocument]="applicantReceivedDocument"></app-received-document>
            </li>
          </ul>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
