<div class="p-3">
  <h4 class="text-danger text-center mb-3">
    {{'TEMPLATE.TASK_QUEUE.EMAIL_FORMAT_INVALID_MODAL.TITLE' | translate}}
  </h4>
  <ol>
    <li class="mb-2">
      {{'TEMPLATE.TASK_QUEUE.EMAIL_FORMAT_INVALID_MODAL.P_1' | translate}}
    </li>
    <li class="mb-2">
      {{'TEMPLATE.TASK_QUEUE.EMAIL_FORMAT_INVALID_MODAL.P_2' | translate}}
    </li>
    <li class="mb-2">
      {{'TEMPLATE.TASK_QUEUE.EMAIL_FORMAT_INVALID_MODAL.P_3' | translate}}
    </li>
    <li class="mb-2">
      {{'TEMPLATE.TASK_QUEUE.EMAIL_FORMAT_INVALID_MODAL.P_4' | translate}}
    </li>
    <li class="mb-2">
      {{'TEMPLATE.TASK_QUEUE.EMAIL_FORMAT_INVALID_MODAL.P_5' | translate}}
    </li>
    <li>
      {{'TEMPLATE.TASK_QUEUE.EMAIL_FORMAT_INVALID_MODAL.P_6' | translate}}
    </li>
  </ol>
</div>
