<div class="row justify-content-center mb-4">
  <div class="col-md-1 justify-content-center d-flex p-0">
    <div class="column-number bg-primary">2</div>
  </div>
  <div class="col-md-8 mt-2 mt-md-0">
    <h4 class="text-center text-md-left">
    {{ 'TEMPLATE.AUTH.SIGN_UP.USER_NAME_PASSWORD' | translate }}
    </h4>
  </div>
</div>
<div class="row justify-content-center text-primary font-weight-bold">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-9 p-0 offset-md-3">
        <p class="text-center">{{ 'TEMPLATE.AUTH.SIGN_UP.USERNAME_DESCRIPTION' | translate }}</p>
      </div>
  </div>
</div>
</div>
<div class="row justify-content-center mb-5">
  <div class="col-md-10">
    <app-auth-form-field
      label="TEMPLATE.AUTH.SIGN_UP.USERNAME"
      [control]="usernameControl"
      [submitted]="submitted"
      [required]="true"
      [primaryTextStyle]="true"
      [smallMarginStyle]="true"
      [col3Label]="true"
    ></app-auth-form-field>
    <app-value-existence-messages
      [control]="usernameControl"
      [formGroup]="formGroup"
      [controlLabel]="'TEMPLATE.AUTH.SIGN_UP.USERNAME'">
    </app-value-existence-messages>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-10">
    <app-password-meter
      [password]="passwordControl?.value"
      [col3Label]="true"
    >
      <div class="row justify-content-center mt-2">
        <div class="col-md-12">
          <app-auth-form-field
            label="TEMPLATE.AUTH.SIGN_UP.PASSWORD"
            type="password"
            [control]="passwordControl"
            [formGroup]="formGroup"
            [submitted]="submitted"
            [required]="true"
            [type]="'password'"
            [primaryTextStyle]="true"
            [passwordInput]="true"
            [smallMarginStyle]="true"
            [col3Label]="true"
          >
            <app-auth-form-field-error
              *ngIf="passwordControl.dirty && passwordControl.hasError('notStrength')"
            >{{ 'FORM.ERROR.PASSWORD_NOT_STRONG' | translate}}</app-auth-form-field-error>
          </app-auth-form-field>
        </div>
      </div>
      <div class="row justify-content-center mb-4">
        <div class="col-md-12">
          <app-auth-form-field
            label="TEMPLATE.AUTH.SIGN_UP.RETYPE_PASSWORD"
            type="password"
            [control]="repeatPasswordControl"
            [submitted]="submitted"
            [formGroup]="formGroup"
            [required]="true"
            [type]="'password'"
            [primaryTextStyle]="true"
            [smallMarginStyle]="true"
            [col3Label]="true"
          >
            <app-auth-form-field-error
              *ngIf="repeatPasswordControl.dirty && formGroup.hasError('mismatch')"
            >{{ 'FORM.ERROR.PASSWORDS_NOT_MATCH' | translate}}</app-auth-form-field-error>
          </app-auth-form-field>
        </div>
      </div>
    </app-password-meter>
  </div>
</div>
