commands:
    copy-ev-eb-data:
        command: mkdir -p /etc/easyvisa/ && aws s3 cp s3://easyvisa-encrypted/qa-connection.config /etc/easyvisa/connection.config

option_settings:
  aws:elasticbeanstalk:container:tomcat:jvmoptions:
    JVM Options: '-Dlocal.config.location=/etc/easyvisa/connection.config -XX:+HeapDumpOnOutOfMemoryError  -XX:HeapDumpPath=/var/log/tomcat8'