commands:
    copy-ev-eb-data:
        command: mkdir -p /etc/easyvisa/ && aws s3 cp s3://easyvisa-encrypted/connection.config /etc/easyvisa/connection.config && aws s3 cp s3://easyvisa-encrypted/contrast_security.yaml /etc/easyvisa/contrast_security.yaml && aws s3 cp s3://easyvisa-encrypted/contrast.jar /etc/easyvisa/contrast.jar

option_settings:
  aws:elasticbeanstalk:container:tomcat:jvmoptions:
    JVM Options: '-Dlocal.config.location=/etc/easyvisa/connection.config -XX:+HeapDumpOnOutOfMemoryError  -XX:HeapDumpPath=/var/log/tomcat8 -Dcontrast.config.path=/etc/easyvisa/contrast_security.yaml -Dcontrast.application.name=easyvisa-test -javaagent:/etc/easyvisa/contrast.jar'