<div
  class="d-flex flex-column small"
>
  <div class="row no-gutters" *ngIf=showCredit>
    <div class="col-10 text-left">{{'TAXES_INFO.CREDIT' | translate}}:</div>
    <div
      class="d-flex col-2 text-right justify-content-end align-items-end"
      *ngIf="tax && (!!tax.credit || tax.credit === 0); else noTaxData"
    >
      {{tax?.credit | currency :'USD':'symbol-narrow':'1.2-2'}}
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-10 text-left">{{feeLabel | translate}}:</div>
    <div
      class="d-flex col-2 text-right justify-content-end align-items-end"
      *ngIf="tax && (!!tax.subTotal || tax.subTotal === 0); else noTaxData"
    >
      {{tax?.subTotal | currency :'USD':'symbol-narrow':'1.2-2'}}
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-10 text-left">{{'TAXES_INFO.ESTIMATED_TAX_TO_BE_COLLECTED' | translate}}:</div>
    <div
      class="d-flex col-2 text-right justify-content-end align-items-end"
      *ngIf="tax && (!!tax.estTax || tax.estTax === 0); else noTaxData"
    >
      {{tax?.estTax | currency :'USD':'symbol-narrow':'1.2-2'}}
    </div>
  </div>
  <div class="row no-gutters font-weight-bold">
    <div class="col-10 text-left">{{'TAXES_INFO.GRAND_TOTAL' | translate}}:</div>
    <div
      class="d-flex col-2 text-right justify-content-end align-items-end"
      *ngIf="tax && (!!tax.grandTotal || tax.grandTotal === 0); else noTaxData"
    >
      {{tax?.grandTotal | currency :'USD':'symbol-narrow':'1.2-2'}}
    </div>
  </div>
</div>

<ng-template #noTaxData>
  <span>$ ---.--</span>
</ng-template>
