<div class="mb-5" *ngIf="showSubject">
  <h5 class="text-center mb-4 font-weight-bold">{{'TEMPLATE.ACCOUNT.NOTIFICATIONS_REMINDERS.CLIENT_INACTIVITY_REMINDERS.DEFAULT_TITLE_EMAIL_TO_CLIENT_SUBJECT' | translate}}</h5>
  <div class="d-flex justify-content-center align-items-center col mt-4">
  <textarea
    type="text"
    rows="1"
    class="form-control form-control-sm"
    [formControl]="subjectFormControl"
  >
    </textarea>
  </div>
  <div class="row justify-content-center submit-button-wrapper mt-4">
    <button
      type="button"
      class="btn btn-primary sign-in-btn"
      (click)="loadDefaultEmailSubject()"
    >
      {{ 'TEMPLATE.ACCOUNT.NOTIFICATIONS_REMINDERS.CLIENT_INACTIVITY_REMINDERS.LOAD_DEFAULT' | translate }}
    </button>
  </div>
</div>
<h5 class="text-center mb-3 font-weight-bold">
  {{title | translate}}
  <a class="fa fa-info-circle text-primary cursor-pointer" (click)="openEmailTemplateVariablesModal()"></a>
</h5>
<ng-content></ng-content>
<div class="d-flex justify-content-center align-items-center col mt-4">
  <textarea
    type="text"
    rows="12"
    class="form-control form-control-sm"
    [formControl]="contentFormControl"
  >
    </textarea>
</div>
<div class="row justify-content-center submit-button-wrapper mt-4">
  <button
    type="button"
    class="btn btn-primary sign-in-btn"
    (click)="loadDefaultEmailContent()"
  >
    {{ 'TEMPLATE.ACCOUNT.NOTIFICATIONS_REMINDERS.CLIENT_INACTIVITY_REMINDERS.LOAD_DEFAULT' | translate }}
  </button>
</div>
