<h5 class="text-center mb-3 font-weight-bold">
  {{'TEMPLATE.ACCOUNT.LOGIN_CREDENTIALS.CHANGE_PASSWORD' | translate}}
</h5>
<form [formGroup]="formGroup" #form="ngForm" (submit)="formSubmit()">

  <div class="row justify-content-center mt-2">
    <div class="col-md-12">
      <app-auth-form-field
        label="TEMPLATE.ACCOUNT.LOGIN_CREDENTIALS.OLD_PASSWORD"
        type="password"
        [control]="oldPasswordControl"
        [formGroup]="formGroup"
        [submitted]="isSubmitted"
        [required]="true"
        [type]="'password'"
        [primaryTextStyle]="true"
        [col4Label]="true"
        [smallMarginStyle]="true"
      >
      </app-auth-form-field>
    </div>
  </div>
  <app-password-meter
    [password]="newPasswordControl?.value"
    [col4Label]="true"
  >
    <div class="row justify-content-center mt-2">
      <div class="col-md-12">
        <app-auth-form-field
          label="TEMPLATE.ACCOUNT.LOGIN_CREDENTIALS.NEW_PASSWORD"
          type="password"
          [control]="newPasswordControl"
          [formGroup]="formGroup"
          [submitted]="isSubmitted"
          [required]="true"
          [type]="'password'"
          [primaryTextStyle]="true"
          [col4Label]="true"
          [smallMarginStyle]="true"
        >
          <app-auth-form-field-error
            *ngIf="newPasswordControl.dirty && newPasswordControl.hasError('notStrength')"
          >{{ 'FORM.ERROR.PASSWORD_NOT_STRONG' | translate}}</app-auth-form-field-error>
        </app-auth-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <app-auth-form-field
          label="TEMPLATE.ACCOUNT.LOGIN_CREDENTIALS.RETYPE_PASSWORD"
          type="password"
          [control]="repeatPasswordControl"
          [formGroup]="formGroup"
          [submitted]="isSubmitted"
          [required]="true"
          [type]="'password'"
          [primaryTextStyle]="true"
          [col4Label]="true"
          [smallMarginStyle]="true"
        >
          <app-auth-form-field-error
            *ngIf="repeatPasswordControl.dirty && formGroup.hasError('mismatch') "
          >{{ 'FORM.ERROR.PASSWORDS_NOT_MATCH' | translate}}</app-auth-form-field-error>
        </app-auth-form-field>
      </div>
    </div>
  </app-password-meter>

  <div class="row justify-content-around submit-button-wrapper mt-5">
    <button
      class="btn btn-primary col-3"
      type="submit"
    >
      {{ 'FORM.BUTTON.SAVE' | translate }}
    </button>
  </div>
</form>
