<div class="p-3 d-flex">
  <div class="pr-4 d-flex align-items-center">
    <img src="../../../../../../../assets/images/warn-icon.png">
  </div>
  <div>
    <p [innerHtml]="'TEMPLATE.TASK_QUEUE.PACKAGE.DELETE_DERIVATIVE_APPLICANT_MODAL.P_1'  | translate"
      *ngIf="packageTypeFormControl.value === 'NEW'"></p>
    <p [innerHtml]="'TEMPLATE.TASK_QUEUE.PACKAGE.DELETE_DERIVATIVE_APPLICANT_MODAL.P_2' | translate"
      *ngIf="packageTypeFormControl.value === 'EDIT'"></p>
    <p>{{ 'TEMPLATE.TASK_QUEUE.PACKAGE.DELETE_DERIVATIVE_APPLICANT_MODAL.P_3' | translate }}</p>
  </div>
</div>