input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dollar-symbol {
  display: inline-block;
  position: relative;
  &::after {
    content: "$";
    position: absolute;
    left: 5px;
    top: 5px;
    color: #b2b2b2;
    font-size: 0.875rem;
  }
}
