<div class="bg-white border border-top-0 border-bottom-0 border-gray-ccc">
  <h3 class="text-center text-white bg-primary p-2 mb-0">{{ 'TEMPLATE.ACCOUNT.EMAIL.TITLE_1' | translate }}</h3>
  <div class="p-3">
    <p class="text-center font-weight-bold">{{ 'TEMPLATE.ACCOUNT.EMAIL.DESCRIPTION_1' | translate }}</p>
    <p class="text-center font-weight-bold">{{ 'TEMPLATE.ACCOUNT.EMAIL.DESCRIPTION_2' | translate }}</p>
    <p class="text-center font-weight-bold mb-0">{{ 'TEMPLATE.ACCOUNT.EMAIL.DESCRIPTION_3' | translate }}</p>
  </div>
  <div class="row justify-content-center">
    <div class="col-11 border-top border-bottom border-secondary"></div>
    <div class="col-11 border-top border-bottom border-secondary"></div>
  </div>
</div>
  <div *ngIf="!!representativeIdFormControl.value">
    <div class="mb-4 bg-white border border-top-0 border-gray-ccc  pt-3">
      <app-email-template-editor
        *ngFor="let emailTemplate of emailTemplates; let i = index"
        [emailTemplate]="emailTemplate"
        [representativeIdFormControl]="representativeIdFormControl"
        [index]="i+1"
        [blockEmail]="true"
      ></app-email-template-editor>
    </div>
    <div class="mb-4 bg-white border border-top-0 border-gray-ccc">
      <h3 class="text-center text-white bg-primary p-2 mb-0">{{ 'TEMPLATE.ACCOUNT.EMAIL.INVITATION_TO_REGISTER_PETITIONER_TITLE' | translate }}</h3>
      <app-email-template-editor
        [emailTemplate]="emailTemplateInvitePetitioner"
        [representativeIdFormControl]="representativeIdFormControl"
        [blockEmail]="true"
      >
      </app-email-template-editor>
    </div>
    <div class="mb-4 bg-white border border-top-0 border-gray-ccc">
      <h3 class="text-center text-white bg-primary p-2 mb-0">{{ 'TEMPLATE.ACCOUNT.EMAIL.TITLE_2' | translate }}</h3>
      <app-email-template-editor
        [emailTemplate]="emailTemplateInviteColleagues"
        [representativeIdFormControl]="representativeIdFormControl"
        [blockEmail]="true"
      >
      </app-email-template-editor>
    </div>

    <div class="mb-4 bg-white border border-top-0 border-gray-ccc">
      <h3 class="text-center text-white bg-primary p-2 mb-0">{{ 'TEMPLATE.ACCOUNT.EMAIL.TITLE_3' | translate }}</h3>
      <app-email-template-editor
        [emailTemplate]="emailTemplateRejectionNotification"
        [representativeIdFormControl]="representativeIdFormControl"
        [blockEmail]="true"
      >
      </app-email-template-editor>
    </div>
  </div>
