<div class="bg-white border border-top-0">
  <h3 class="text-center text-white bg-primary p-2 mb-0">
    {{'TEMPLATE.ACCOUNT.PROFILE.DELETE_DATA_OF_APPLICANT.HEADER' | translate}}
  </h3>
  <app-spinner *ngIf="(packagesRequestState$ | async).loading"></app-spinner>
  <div
    class="d-flex flex-column justify-content-center"
    *ngIf="!(packagesRequestState$ | async).loading && (packagesRequestState$ | async).loaded"
  >
    <div class="d-md-flex align-items-center justify-content-start col mt-4">
      <label class="col-form-label p-0 col col-md-6 text-md-right pr-1 mr-1">
        {{ 'TEMPLATE.ACCOUNT.PROFILE.DELETE_DATA_OF_APPLICANT.LABEL_1' | translate}}
      </label>
      <select
        class="form-control form-control-sm col col-md-5 pr-2"
        [formControl]="packageFormControl"
      >
        <option [ngValue]="null">
          {{ 'TEMPLATE.ACCOUNT.PROFILE.DELETE_DATA_OF_APPLICANT.PLACEHOLDER_1' | translate }}
        </option>
        <option [value]="item.id" *ngFor="let item of (allowedPackages$ | async)">
          {{item?.title}}
        </option>
      </select>
    </div>
    <div class="d-md-flex align-items-center justify-content-center col mt-2">
      <label class="col-form-label p-0 col col-md-5 text-md-right mr-2">
        {{ 'TEMPLATE.ACCOUNT.PROFILE.DELETE_DATA_OF_APPLICANT.LABEL_2' | translate}}
      </label>
      <select
        class="form-control form-control-sm col col-md-5 pr-2"
        [formControl]="applicantIdFormControl"
      >
        <option
          class="text-center"
          [ngValue]="null">
          {{ 'TEMPLATE.ACCOUNT.PROFILE.DELETE_DATA_OF_APPLICANT.PLACEHOLDER_2' | translate }}
        </option>
        <option [value]="applicant.profile.id" *ngFor="let applicant of (nonRegisteredApplicants$ | async)">
          {{applicant.profile.firstName}} {{applicant.profile.lastName}}
        </option>
      </select>
    </div>
  </div>

  <div class="row my-4">
    <div class="d-flex flex-row col justify-content-center">
      <button
        class="btn btn-primary m-3 min-w-100"
        [disabled]="!applicantIdFormControl.value"
        (click)="openModalClick()"
      >
        {{'TEMPLATE.ACCOUNT.PROFILE.DELETE_DATA_OF_APPLICANT.BUTTON' | translate}}
      </button>
    </div>
  </div>
</div>
