<div class="p-3">
  <p>{{ 'TEMPLATE.TASK_QUEUE.GOOD_NEWS_MODAL.P_1' | translate }}</p>
  <p>{{ 'TEMPLATE.TASK_QUEUE.GOOD_NEWS_MODAL.P_2' | translate }}</p>
  <p class="ml-3">{{ 'TEMPLATE.TASK_QUEUE.GOOD_NEWS_MODAL.FIRST_NAME' | translate }}:
    <span class="font-weight-bold">{{findApplicant.profile.firstName}}</span>
  </p>
  <p class="ml-3">{{ 'TEMPLATE.TASK_QUEUE.GOOD_NEWS_MODAL.LAST_NAME' | translate }}:
    <span class="font-weight-bold">{{findApplicant.profile.lastName}}</span>
  </p>
  <p class="ml-3">{{ 'TEMPLATE.TASK_QUEUE.GOOD_NEWS_MODAL.EMAIL' | translate }}:
    <span class="font-weight-bold">{{findApplicant.profile.email}}</span>
  </p>
  <p>{{ 'TEMPLATE.TASK_QUEUE.GOOD_NEWS_MODAL.P_3' | translate }}</p>
  <p>{{ 'TEMPLATE.TASK_QUEUE.GOOD_NEWS_MODAL.P_4' | translate }}</p>
  <p>{{ 'TEMPLATE.TASK_QUEUE.GOOD_NEWS_MODAL.P_5' | translate }}</p>
</div>
