<app-block [title]="'TEMPLATE.ACCOUNT.LOGIN_CREDENTIALS.TITLE' | translate">
  <div class="d-flex flex-column flex-md-row justify-content-center no-gutters">
    <div
      *ngIf="(isUser$ | async)"
      class="col col-md-6 "
    >
      <app-change-email></app-change-email>
    </div>
    <div [class.border-right]="(isUser$ | async)"></div>
    <div *ngIf="(isUser$ | async)">
      <div class="border-top border-secondary border-md-0 mt-4"></div>
    </div>
    <div
      class="col d-flex mt-4 mt-md-0"
      [class.col-md-6]="!(isUser$ | async)"
    >
      <app-change-password class="col"
      ></app-change-password>
    </div>
  </div>
</app-block>

