<div class="mx-lg-5 mx-2">
  <h5 class="text-center font-weight-bold">{{'TEMPLATE.ACCOUNT.PROFILE.CHANGE_POSITION_TO_LEGAL_REPRESENTATIVE' | translate}}</h5>
  <div class="row no-gutters my-md-4">
    <div class="col-lg-8 col-md-7 my-2"
      [innerHTML]="'TEMPLATE.ACCOUNT.PROFILE.CHANGE_POSITION_TO_ATTORNEY_DESCRIPTION' | translate"
    >
    </div>
    <div class="col-lg-4 col-md-5">
      <button class="btn btn-primary w-100" type="button" (click)="redirectToStandardEvCharges()">
        {{'TEMPLATE.ACCOUNT.PROFILE.CHANGE_POSITION_TO_ATTORNEY' | translate}}
      </button>
    </div>
  </div>
</div>
