<div class="px-3 pt-3 d-flex">
  <div class="pr-4 d-flex align-items-center">
    <img src="../../../../../../../assets/images/warn-icon.png">
  </div>
  <div>
    <p class="text-danger font-weight-bold">{{'TEMPLATE.TASK_QUEUE.PACKAGE.CONFIRM_NO_CONFLICT_MODAL.P_1' | translate}}</p>
    <p class="text-danger font-weight-bold">{{'TEMPLATE.TASK_QUEUE.PACKAGE.CONFIRM_NO_CONFLICT_MODAL.P_2' | translate}}</p>
    <p class="mt-5">{{'TEMPLATE.TASK_QUEUE.PACKAGE.CONFIRM_NO_CONFLICT_MODAL.P_3' | translate}}</p>
    <p [innerHTML]="'TEMPLATE.TASK_QUEUE.PACKAGE.CONFIRM_NO_CONFLICT_MODAL.P_4' | translate"></p>
  </div>
</div>