input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  padding: 2px !important;
}

th, td {
  padding: 1px 15px !important;
}

.form-control-sm {
  height: 1.5em;
}

.dollar-symbol {
  display: inline-block;
  position: relative;
  &::after {
    content: "$";
    position: absolute;
    left: 5px;
    top: 0;
    color: #b2b2b2;
    font-size: 0.875rem;
  }
}
