.min-height-label {
  min-height: 21px;
}

.min-width-label {
  min-width: 60px;
}

.min-height-block {
  min-height: 245px;
}

.min-height-name-label {
  min-height: 155px;
}

.max-height-block {
  height: 210px;
}

.social-icon {
  font-size: 30px;
}

.practice-columns {
  column-count: 2;
}

