<div class="mini-profile pt-3 px-4">

  <div class="row mb-4">
    <div class="col-2">
      <div class="d-flex flex-column justify-content-center mr-4">
        <div class="text-center bg-blue text-white small px-3">
          {{'TEMPLATE.DASHBOARD.ARTICLES.MINI_PROFILE_MODAL.P_1' | translate}}
        </div>
        <h1 class="text-center bg-light-blue min-h-100 text-white mb-0">27</h1>
      </div>
    </div>
    <div class="col-10 justify-content-start p-0">
      <h6 class="mb-0">
        {{'TEMPLATE.DASHBOARD.ARTICLES.MINI_PROFILE_MODAL.P_2' | translate}}
      </h6>
      <span class="small">
        {{'TEMPLATE.DASHBOARD.ARTICLES.MINI_PROFILE_MODAL.P_3' | translate}}
      </span>
      <a class="small text-blue d-inline-block">{{'TEMPLATE.DASHBOARD.ARTICLES.MINI_PROFILE_MODAL.P_4' | translate}}</a>
    </div>
  </div>

  <div class="attorney-row">
    <div class="row">
      <div class="col-9 attorney-info">
        <div class="row">
          <div class="attorney-thumb col-3">
            <div class="main--profile-img"><img
              src="../../../../assets/images/person-placeholder.png" alt="attorney"
            ></div>
          </div>
          <div class="atterney-inner-info col-9">
            <div class="attorneyinfo--listing">
              <div class="main--title">
                <h4>Author</h4>
              </div>
              <div class="attorney--main-info">
                <h3>Jack Smith</h3>
                <p>Smith, Barney, Kleiner, Perkins and Johnson </p>
              </div>
            </div>
            <div class="attorneyinfo--listing">
              <div class="main--title">
                <h4>Contact Info</h4>
              </div>
              <div class="attorney--main-info contact-inner">
                <div class="contact--info-list">
                     <span>
                        <i class="fa fa-map-marker"></i>
                        <span class="address">6578 Commercial Street, Suite #405, Anytown, USA, 86753</span>
                     </span>
                </div>
                <div class="contact--info-list">
                  <i class="fa fa-phone"></i>
                  <span>
                    <em id="office--number">Click to show</em>
                  </span>
                </div>

                <div class="contact--info-list">
                  <i class="fa fa-envelope"></i>
                  <span><em>Click to show</em></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 post-profile-info text-center">
        <div class="attorneyinfo--listing">
          <div class="main--title">
            <h4>Post info</h4>
          </div>
          <div class="attorney--main-info">
            <i class="fa fa-thumb-tack"></i>
            <div>
              <span><b>Date:</b> Aug 28,2017</span>
              <span><b>Time:</b> 3:30 PM</span>
              <span><b>Views:</b> 248</span>
            </div>
          </div>
        </div>
        <div class="attorneyinfo--listing">
          <div class="main--title">
            <h4>Profile</h4>
          </div>
          <div class="attorney--main-info">
            <a href="javascript:void(0)">View Full Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
