<div class="row">
  <div class="col-md p-0"
       [class.offset-md-3]="col3Label"
       [class.offset-md-4]="!noOffset && col4Label"
       [class.offset-md-0]="noOffset && col4Label"
  >
    <p class="text-primary font-weight-bold text-center mb-2">
      {{ 'FORM.METER.PASSWORD_DESCRIPTION' | translate }}
    </p>
    <div class="recommended-section row mb-0">
      <div class="col p-0"
           [class.offset-3]="col3Label"
           [class.offset-4]="col4Label"
      >
        <p class="text-primary m-0"> - {{ 'FORM.METER.PASSWORD_RECOMMENDED.CRITERIA_1' | translate }}</p>
        <p class="text-primary"> - {{ 'FORM.METER.PASSWORD_RECOMMENDED.CRITERIA_6' | translate }}</p>
      </div>
    </div>
  </div>
</div>
<ng-content></ng-content>

<div class="form-group mb-5">
  <div class="row no-gutters">
    <label class="col-form-label col-form-label-sm text-md-left text-primary font-weight-bold d-flex align-items-end"
           [class.col-3]="col3Label"
           [class.col-4]="col4Label">
      {{ 'FORM.METER.TITLE' | translate }}
    </label>
    <div class="col pl-0 pr-3 pb-1">
      <div class="row justify-content-between m-0">
        <label class="col-form-label col-form-label-sm text-md-left col-4 text-primary font-weight-bold d-flex">
          {{ 'FORM.METER.WEAK' | translate }}
        </label>
        <label class="col-form-label col-form-label-sm text-md-left col-4 text-primary font-weight-bold d-flex justify-content-end">
          {{ 'FORM.METER.STRONG' | translate }}
        </label>
      </div>
      <div class="row password-meter m-0">
        <div class="col filled-color mx-1 border" [ngClass]="{'empty-color': (password$ | async) === ''}"></div>
        <div class="col filled-color mx-1 border" [ngClass]="{'empty-color': (strength$ | async)?.score < 1}"></div>
        <div class="col filled-color mx-1 border" [ngClass]="{'empty-color': (strength$ | async)?.score < 2}"></div>
        <div class="col filled-color mx-1 border" [ngClass]="{'empty-color': (strength$ | async)?.score < 3}"></div>
        <div class="col filled-color mx-1 border" [ngClass]="{'empty-color': (strength$ | async)?.score < 4}"></div>
      </div>
    </div>
  </div>
</div>
