.password-meter {
  min-height: 20px;
  div {
    transition: background-color 1s;
  }
  .filled-color{
    background-color: #4CBB17;
    border-color: #e6e7e8;
  }
  .empty-color{
    background-color: #f1f2f2;
    border-color: #e6e7e8;
  }
}

.recommended-section {
  min-height: 85px;
  font-size: 13px;
}
