<div class="container-fluid bg-white p-4 border border-bg-gray">
  <app-table
    [header]="headers"
    [overHeader]="overHeaders"
    [tableData]="(permissionsTableData$ | async)"
    [tableSortCol]="sortFormControl.value"
    [tableSortOrder]="orderFormControl.value"
    [permissionsTableBody]="true"
    [stickyTable]="false"
    (sortParams)="sortBy($event)"
    (rowClick)="setEditUserId($event)"
  ></app-table>
  <div class="row col align-items-center justify-content-between mx-2">
    <div class="d-flex order-1 order-lg-0">
      <button
        class="btn btn-primary px-4 mr-3"
        routerLink="/account/permissions/add-user"
        [disabled]="!(isAdmin$ | async)"
      >
        {{'TEMPLATE.ACCOUNT.PROFILE.PERMISSIONS.ADD_NEW_USER' | translate}}</button>
      <button
        class="btn btn-primary px-4 mr-3"
        (click)="openPermissionsLevelModal()"
      >
        {{'TEMPLATE.ACCOUNT.PROFILE.PERMISSIONS.PERMISSIONS_KEY' | translate}}
      </button>
      <button
        class="btn btn-primary px-4"
        routerLink="/account/permissions/invite-member"
        [disabled]="!(isAdmin$ | async)"
      >
        {{'TEMPLATE.ACCOUNT.PROFILE.PERMISSIONS.INVITE_EXISTING_EV_MEMBER' | translate:
          ({representativeType: (representativeType$ | async) | translate})}}
      </button>
    </div>
    <label
      [class.text-gray]="!(isAdmin$ | async)"
      class="text-center col col-md-3 my-2 my-lg-0 mb-0">
      <input
        class="form-check-input"
        type="checkbox"
        [checked]="includeAllFormControl.value === true"
        [formControl]="includeAllFormControl"
        [attr.disabled]="(isAdmin$ | async) ? null : 'disabled'"
      >
      <span [innerHTML]="'TEMPLATE.ACCOUNT.PROFILE.PERMISSIONS.TABLE.SHOW_ALL' | translate"></span>
    </label>
    <ng-template [ngIf]="(showWithdrawButton$ | async)">
      <button
        class="btn btn-primary px-4 mr-3"
        (click)="withdrawInvite()"
        *appHideByPosition=[EmployeePosition.TRAINEE]
      >
        {{'TEMPLATE.ACCOUNT.PROFILE.WITHDRAW_INVITATION' | translate}}
      </button>
    </ng-template>
  </div>
</div>
