<div class="container-fluid p-0 border border-secondary">
  <div class="modal-header align-items-center bg-primary text-white px-2">
    <h5 class="modal-title w-100 text-center">Some Documents Not Approved</h5>
  </div>
  <div class="modal-body">
    <div>
      <div class="p-4">
        You cannot change the status of a panel in the Document portal to
        ‘approved’ unless all of the items within the panel have been dispositioned
        as approved.
      </div>
      <div class="px-4 pb-4">
        Go to Task <a class="text-blue cursor-pointer" (click)="gotoDispositionMenu()">Queue > Dispositions</a> and disposition any undispositioned
        documents within this panel as Approved.
      </div>
      <div class="d-flex p-2 justify-content-end">
        <button type="button" class="btn btn-primary mr-4 min-w-100" (click)="activeModal.dismiss('Cross click')">Cancel</button>
        <button type="button" class="btn btn-primary min-w-100" (click)="activeModal.dismiss('Cross click')">Ok</button>
      </div>
    </div>
  </div>
</div>

