<app-auth-wrapper header="TEMPLATE.AUTH.FORGOT.TITLE">
  <form [formGroup]="retrieveCredentialGroup"
    (ngSubmit)="onSubmit()"
    #form="ngForm"
    class="position-relative"
  >
    <div class="radio-group">
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio"
            formControlName="credential"
            value="username"
            class="form-check-input" checked>
          {{ 'TEMPLATE.AUTH.FORGOT.USERNAME' | translate }}
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio"
            formControlName="credential"
            value="password"
            class="form-check-input">
          {{ 'TEMPLATE.AUTH.FORGOT.PASSWORD' | translate }}
        </label>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <label class="col-form-label col-form-label-sm email-label">
          {{ 'TEMPLATE.AUTH.FORGOT.ENTER_EMAIL' | translate }}
        </label>
      </div>
      <div class="col-md-6">
        <input type="email"
          formControlName="email"
          placeholder="Enter your email"
          class="form-control form-control-sm"
        >
      </div>
      <div *ngIf="(emailControl.dirty || form.submitted) && emailControl.invalid"
        class="col-md-12 small text-danger text-center position-relative"
      >
        <div class="position-absolute w-100">
          {{ 'FORM.ERROR.INVALID' | translate:({ field: 'FORM.LABELS.EMAIL' | translate }) }}
        </div>
      </div>
    </div>

    <div class="instructions">
      <p>{{ 'TEMPLATE.AUTH.FORGOT.INSTRUCTIONS_FIRST' | translate }}</p>
      <p>{{ 'TEMPLATE.AUTH.FORGOT.INSTRUCTIONS_SECOND' | translate }}</p>
    </div>

    <div class="small text-center text-danger position-absolute w-100" [hidden]="!isShowingError || emailControl.invalid">
      <span *ngIf="credentialControl.value === 'username'">
        <span *ngFor="let error of (forgotUsernameError$ | async)">
        {{ error.message}}
        </span>
      </span>
      <span *ngIf="credentialControl.value === 'password'">
        <span *ngFor="let error of (forgotPasswordError$ | async)">
          {{ error.message}}
        </span>
      </span>
    </div>

    <div class="row justify-content-center submit-button-wrapper">
      <button type="submit"
        class="btn btn-primary submit"
        [disabled]="(forgotUsernameRequest$ | async)?.loading || (forgotPasswordRequest$ | async)?.loading"
      >
        {{ 'FORM.BUTTON.SUBMIT' | translate }}
      </button>
    </div>
  </form>
</app-auth-wrapper>
