
.centered {
  display: flex;
  justify-content: center;
}

.radio-group {
  margin-left: 37%;
  margin-bottom: 20px;
}

.email-label {
  margin-right: -50px;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions p {
  width: 350px;
  text-align: center;
}

.btn {
  cursor: pointer;
}

.submit {
  background-color: #40678C;
}
